<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ImoSphere</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ImoSphere.styles.css" asp-append-version="true" />
</head>

<body>
    <header class="navbar">
        <a href="@Url.Action("Index", "Home")" class="contact-btn">🏙️ ImoSphere</a>
        <nav>
            <a href="@Url.Action("AboutUs", "Home")" class="contact-btn">About Us</a>
            <a href="@Url.Action("Properties", "Home")" class="contact-btn">Properties</a>
            <a href="@Url.Action("Services", "Home")" class="contact-btn">Services</a>
            <a href="@Url.Action("ContactUs", "Home")" class="contact-btn">Contact Us</a>

            @if (User.Identity.IsAuthenticated)
            {
                <form action="@Url.Action("Logout", "Account")" method="post" style="display:inline;">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="login-btn">Logout</button>
                </form>
            }
            else
            {
                <a href="@Url.Action("Login", "Account")" class="login-btn" style="color: var(--primary-color);">Login</a>
            }

        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            &copy; 2025 - ImoSphere - <a href="@Url.Action("Privacy", "Home")" class="contact-btn">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
